/* Highlight active nav-link */
.navbar .nav-link.active {
    background-color: #198754; /* Bootstrap success shade */
    border-radius: 0.25rem;
}

/* Highlight active dropdown-item */
.dropdown-menu .dropdown-item.active {
    background-color: #198754;
    color: #fff;
}
.navbar .nav-link:hover {
    background-color: #198754; /* Bootstrap success shade */
    border-radius: 0.25rem;
}

/* Highlight active dropdown-item */
.dropdown-menu .dropdown-item:hover {
    background-color: #198754;
    color: #fff;
}

.product-quantity, .product-sizes {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
 .pro-qty {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EEF1F2;
    /*border-radius: 50px;*/
    text-align: center;
}

.pro-qty input {
    width: 50px;
    text-align: center;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    height: 100%;
}
.pro-qty .qtybtn {
    width: 100%;
    color: #838383;
    cursor: pointer;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 15px 0;
}
