.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

.list-group-item-action {
    transition: 0.3s;
    cursor: pointer;
}
.list-group-item-action:hover {
    background-color: #790b0b;
    color: #000;
    border-radius: 4px;
}
.list-group-item-action.active {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 4px;
}