{% extends "base.html" %}
{% load static %}
{% block title %} Sign Up {% endblock title %}

{% block main_content %}
    <section class="main-section">
        <div class="container text-center">
            <h1 class="display-4">Sign Up</h1>
            <p class="lead">Please create an account.</p>
 
            <div class="mt-4">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Sign-Up Now</button>
                </form>
                <a class="text-decoration-none" href="{% url 'sign-in' %}" role="button">Sign In</a>
            </div>
        </div>
    </section>
{% endblock main_content %}