{% extends "base.html" %}

{% block title %}Order Details{% endblock %}

{% block main_content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|title}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'checkout-list' %}" class="btn btn-success">Checkout List</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            {% if checkout_confirm_items %}
            {% for checkout_item in checkout_confirm_items %}
            <div class="row">Checkout 1</div>
            {% empty %}
            <div class="row">No checkout items found.</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}