{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main_content %}
<div class="container">
    <div class="row mt-5">
        {% if checkout_items %}
        <div class="col-sm-6">
            <h4>Checkout Summary</h4>
            <hr>
            {% for item in checkout_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{item.product.title|title}}</h5>
                    <p>Quantity: {{item.quantity}}</p>
                    <p class="fw-bold">Price: {{item.product.sale_price}}</p>
                </div>
            </div>
            {% empty %}
            <p>No items to checkout.</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="">
                {% if profiles %}
                {% for profile in profiles %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{profile.name|title}}</h5>
                        <p>152/2k, Green Road, Dhaka, 1205</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" value="">
                    <label class="form-check-label fw-bold" for="">
                        Address: 1 </label>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
                </div>
                {% empty %}
                <p>No saved addresses found.</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}