{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container mt-5 bg-secondary p-4 rounded">
        <h2 class="text-center mb-4">Registration Form</h2>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}