{% extends 'base.html' %}
{% block main_content %}
<div class="container my-5">
    <div class="row g-3">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 mb-4">
            {% include "store/get-filters.html" %}
        </div>

        <!-- Product Grid -->
        <div class="col-lg-9 col-md-8" id="product-grid">
            {% include "store/product_grid.html" %}
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    ('.filter-checkbox, #priceRange').on('change', function(e){
        e.preventDefault();
        let filter_object = {};
        $.ajax({
        url: "{% url 'get-filter-products' %}",
        method: "POST",
        headers: {"X-CSRFToken": "{{ csrf_token }}"},
        data: filter_object,
        dataType: "json",
        success: function(res){
            $("#product-grid").html(res.html);
        }
    });
    });
});
</script>
{% endblock %}
