{% extends 'base.html' %}
{% block main_content %}
<div class="container my-5">
    <div class="row g-3">
        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 mb-4">
            {% include "store/get-filters.html" %}
        </div>

        <!-- Product Grid -->
        <div class="col-lg-9 col-md-8" id="product-grid">
            {% include "store/product_grid.html" %}
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
$(document).ready(function(){

    function applyFilters() {
        let filter_object = {};

        // Brand filters
        let filters = [...document.querySelectorAll(".filter-checkbox[data-filter]")];
        let filter_keys = [...new Set(filters.map(el => el.dataset.filter))];

        filter_keys.forEach(function(key){
            filter_object[key] = [...document.querySelectorAll(
                "input[data-filter='" + key + "']:checked"
            )].map(el => el.value);
        });

        // Category info
        filter_object['category_id'] = "{{ category.id }}";
        filter_object['category_slug'] = "{{ category.slug }}";

        // Price slider
        if ($("#priceRange").length){
            filter_object['max_price'] = $("#priceRange").val();
        }

        console.log("Sending filter:", filter_object); // debug

        $.ajax({
            url: "{% url 'get-filter-products' %}",
            method: "POST",
            headers: {"X-CSRFToken": "{{ csrf_token }}"},
            data: filter_object,
            dataType: "json",
            success: function(res){
                $("#product-grid").html(res.html);
            }
        });
    }

    // Trigger on checkbox change
    $(".filter-checkbox").on("change", applyFilters);

    // Trigger on price slider change
    $("#priceRange").on("input", function(){
        $("#priceValue").text("৳" + $(this).val());
        applyFilters();
    });

    // All Filters checkbox
    $("#all-filters").on("change", function(){
        $(".filter-checkbox[data-filter]").prop("checked", this.checked).trigger("change");
    });

});
</script>
{% endblock %}

