{% extends "base.html" %}
{% load static %}

{% block title %}Address{% endblock title %}

{% block main_content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome E-Shop</h3>

        <!-- Sidebar -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn mb-2">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-sm-9 offset-sm-1">
            <h4 class="mb-3">My Addresses</h4>
            {% if profiles %}
                {% for profile in profiles %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{profile.name}}</p>
                            <p>Division: {{profile.division}}</p>
                            <p>District: {{profile.district}}</p>
                            <p>Thana: {{profile.thana}}</p>
                            <p>Vill/Road No: {{profile.villorroad}}</p>
                            <p>Phone No: {{profile.phone}}</p>
                            <p>Zipcode: {{profile.zipcode}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}
